// fonts
$fontDefault: #3D5867;
$fontListDefault: #3d505c;
$fontWhite: #fff;
$fontGreyInput: #ccc;

// figma
$bannerText: #0f4557;
$contrastBlue: #0f9abd;
$secondInfo: #40718c;
$bgBlueLight: #F1F9FD;
$borderBlueLight: #e9f5fc;
$orangeStart: #fea334; // orange gradient
$orangeFinish: #FFBA68;
$blueStart: #40718c; // blue gradient
$blueFinish: #129FC2;
$formDesc: #777;
$inputBorder: #99B6C6;

