@import 'default';
@import 'design';

// CSS

h2 {
  color: $secondInfo;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}
h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}
ul {
  margin-left: 20px;
}
li {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 14px;
  list-style-position: outside;
}
b {
  font-weight: 500;
  color: $contrastBlue;
}

//////////////////////////
// BANNER

.banner {
  @extend %flexbox;
  position: relative;
  width: 100%;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

//////////////////////////
// HEADER

.header {
  @extend %flexbox;
  padding: 30px 0;
}
.header__logo {
  @extend %flexbox;
  @extend %shrink;
}
.svg-logo {
  width: 150px;
  height: 85px;
  margin: auto 0;
}

// contacts

.contacts {
  @extend %flexbox;
  @extend %grow;
}
.contacts__list {
  @extend %flexbox;
  @extend %grow;
  margin: auto 0;
  justify-content: center;
}
.footer__contacts {
  &.contacts__list {
    justify-content: end;
  }
  .contacts__item {
    color: #fff;
  }
  .contacts__link {
    color: #fff;
  }
}
.contacts__item {
  @extend %flexbox;
  color: $bannerText;
  list-style-type: none;
  font-size: 18px;
  padding: 0 25px;
}
.contacts__name {
  margin: auto 10px auto 0;
}
.contacts__link {
  color: $bannerText;
  line-height: 18px;
  margin: auto 0;

  &:hover {
    text-decoration: underline;
  }
}

//////////////////////////
// banner__info

.banner__info {
  @extend %flexbox;
  @extend %column;
  padding: 90px 0 180px;
}
.banner__h1 {
  color: $contrastBlue;
  font-family: $fontCondensed;
  font-size: 44px;
  line-height: 60px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.banner__desc {
  color: $bannerText;
  font-size: 20px;
  line-height: 32px;
  max-width: 680px;
}

//////////////////////////
// instructions

.instructions__wrapper {
  @extend %flexbox;
  @extend %column;
  padding: 80px 0;
}
.instructions__attention {
  @extend %flexbox;
  margin-bottom: 40px;
}
.attention__icon {
  @extend %flexbox;
  width: 60px;
  height: 60px;
  margin: auto 0;
  border-radius: 6px;
  background-color: $contrastBlue;
  margin-right: 30px;
  padding: 10px;
}
.svg-attention {
  width: 40px;
  height: 40px;
  margin: auto;
}
.attention__text {
  font-size: 20px;
  line-height: 28px;
}

// instructions__list

.instructions__list {
  @extend %flexbox;
  @extend %column;
  padding-top: 20px;
}
.instructions__item {
  @extend %flexbox;
  background-color: $bgBlueLight;
  border: 1px solid $borderBlueLight;
  padding: 45px 50px;
  border-radius: 12px;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 20px;
  }
}
.instructions__text {
  @extend %grow;
  max-width: 60%;
  width: 100%;
  padding-right: 30px;

  li {
    color: $fontListDefault;
  }
}
.instructions__gallery {
  @extend %flexbox;
  @extend %shrink;
}
.gallery__item {
  @extend %flexbox;
  position: relative;
  padding: 0 10px;
  overflow: hidden;

  &:active {
    svg {
      transform: scale(0.9);
    }
  }
}
.gallery__link {
  @extend %flexbox;

  img {
    width: 212px;
    height: 290px;
    transition: 0.4s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.svg-search {
  position: absolute;
  right: 20px;
  bottom: 10px;

  fill: #fff;
  width: 20px;
  height: 20px;
  margin: auto;
  pointer-events: none;
}

//////////////////////////
// LET'S START

.start {
  padding: 60px 0;
  background: $orangeStart;
  background: linear-gradient(135deg, $orangeFinish 0%, $orangeStart 100%);
}
.start__title {
  color: #fff;
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
}

//////////////////////////
// MAIN FORM

.form {
  padding: 80px 0;
}

//////////////////////////
// CLIENT FORM

.client__form {
  @extend %flexbox;
  @extend %column;
}
.form__description {
  color: $formDesc;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.form__wrapper {
  @extend %flexbox;
  @extend %column;
}
.form__row {
  @extend %flexbox;
  margin-bottom: 50px;

  &.row__images {
    @extend %column;

    h4 {
      color: $secondInfo;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }
  &.row__inputs {
    .fieldset {
      width: 50%;

      &:first-child {
        padding-right: 10px;
      }
      &:last-child {
        padding-left: 10px;
      }
    }
  }
}

// form

.fieldset {
  @extend %flexbox;
  @extend %column;
  border: 0;
}
.label {
  @extend %flexbox;
  @extend %column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
.label__textarea {
  height: 100%;
}
.input {
  font-family: $font;
  color: $fontDefault;
  font-size: 18px;
  line-height: 24px;
  padding: 18px 20px 16px;
  border: 1px solid $inputBorder;
  border-radius: 5px;
}
.textarea {
  font-family: $font;
  color: $fontDefault;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
  border: 1px solid $inputBorder;
  border-radius: 5px;
  height: 100%;
}
.input__title {
  @extend %flexbox;
  color: $secondInfo;
  font-size: 15px;
  position: absolute;
  top: -8px;
  left: 14px;
  padding: 0 8px;
  border-radius: 2px;
  background-color: #fff;
}

//////////////////////////
// FORM INSTRUCTIONS

.form-instructions {
  position: relative;
  color: #fff;
  padding: 45px 50px;
  border-radius: 10px;
  background: $blueStart;
  background: linear-gradient(135deg, $blueStart 0%, $blueFinish 100%);
  margin-bottom: 60px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    background-image: url('./../images/logo-instructions.png');
    background-repeat: no-repeat;
    background-position: 0;
  }
  li {
    max-width: 70%;
  }
}

//////////////////////////
// WINDOW FORM

.window__form {
  @extend %flexbox;
  @extend %column;
}
.svg-width {
  fill: $fontDefault;
  width: 25px;
  height: 10px;
  margin: auto 5px auto 0;
}
.svg-height {
  fill: $fontDefault;
  width: 20px;
  height: 20px;
  margin: auto 5px auto 0;
  transform: rotate(90deg);
}




//////////////////////////
// FOOTER

.footer {
  background: $blueStart;
  background: linear-gradient(135deg, $blueStart 0%, $blueFinish 100%);
}
.footer__wrapper {
  @extend %flexbox;
  padding: 50px 0;
}

//////////////////////////
// @media [bottom]
@import 'media';
